.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    color: black;
  }
  
  .logo {
    font-size: 15px;
  }
  
  .icons {
    display: flex;
    margin-right: 30px;
  }
  
  .icon {
    font-size: 20px;
    color: black;
    cursor: pointer;
  }