.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  color: black;
}

.header__logo {
  font-size: 15px;
}

.header__icons {
  display: flex;
  margin-right: 30px;
}

.header__icons-icon {
  font-size: 20px;
  color: black;
  cursor: pointer;
}